@media screen and (min-width: 992px) {
  .px-lg-large {
    padding-left: 18rem !important;
    padding-right: 18rem !important;
  }
  .shadow-lg-sm {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  }
}
